---
layout: default
---
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true},
    jax: ["input/TeX","input/MathML","input/AsciiMath","output/CommonHTML"],
    extensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js","AssistiveMML.js", "[Contrib]/a11y/accessibility-menu.js"],
    TeX: {
    extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],
    equationNumbers: {
    autoNumber: "AMS"
    }
    }
    });
    </script>
    
<div style="text-align: center;padding-top:10px;padding-bottom: 20px;">
<h2>{{ page.title }}
</h2>	
</div>
<div style="text-align: left;">{{ content }}</div>
<div> <hr style="width:80%"></hr> </div>
	
<p style="color: grey;">Posted on {{ page.date | date_to_long_string:"ordinal" }} by <a href="{{ page.author_link}}"> {{ page.author }}</a> </p>
 