<!DOCTYPE html>
<html style="background: url(&quot;/assets/img/dots_pattern.jpeg?h=50d7f9ea74c5a8b2c01a2eda23751db2&quot;);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sai Vijay Mocherla</title>
    <meta name="keywords" content="&quot;Sai Vijay Mocherla, Graduate student in Physics, Personal Website&quot;">
    <meta name="description" content="Personal webiste of a graduate student in phyiscs. ">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/psi_16.png?h=70c976e10822629817119448208e0989">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/psi_32.png?h=9c788b612de46052fa300895b01aa604">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/psi_180.png?h=137e3ddb8df351f52af958faa9f27a06">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/psi_192.png?h=f907934ce9f997e2b1af740f919657d8">
    <link rel="icon" type="image/png" sizes="200x200" href="/assets/img/psi.png?h=6d16f56940e8eb18df622b33604066ae">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css?h=9db842b3dc3336737559eb4abc0f1b3d">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=688dc47e01f3ccc76187854f2f9e15c6">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6XC34E4YFT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6XC34E4YFT');
</script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true},
    jax: ["input/TeX","input/MathML","input/AsciiMath","output/CommonHTML"],
    extensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js","AssistiveMML.js", "[Contrib]/a11y/accessibility-menu.js"],
    TeX: {
    extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],
    equationNumbers: {
    autoNumber: "AMS"
    }
    }
    });
</script>
</head>

<body style="width: auto;height: auto;margin: auto;padding: auto;padding-top: 10px;max-width: 800px;border-radius: 13px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;margin-bottom: 20px;margin-top: 20px;box-shadow: 0.5px 0.5px 10px 1px;border-width: 0px;border-style: solid;"><img class="img-fluid" src="/assets/img/header_resize.webp?h=566bf67633761868212fb652dd21f6f4" style="width: 100%;height: auto;margin: auto;padding: auto;border-radius: 20px;margin-top: 0px;padding-top: 5px;padding-right: 5px;padding-left: 5px;padding-bottom: 5px;">
    <nav class="navbar navbar-light navbar-expand-md bg-white" style="width: 100%;margin: auto;padding: auto;height: auto;border-radius: 10px;margin-top: auto;font-size: auto;">
        <div class="container-fluid"><a class="navbar-brand text-center float-left justify-content-xl-center align-items-xl-center" href="about.html" style="font-size: 24px;line-height: auto;font-family: 'Source Sans Pro', sans-serif;margin: auto;padding: 5px;width: auto;min-width: auto;height: auto;margin-left: 0px;text-align: center;padding-left: 20px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px;color: var(--gray);" target="_top">Sai Vijay Mocherla</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="nav navbar-nav ml-auto" style="width: auto;font-family: 'Source Sans Pro', sans-serif;">
                    <li class="nav-item"><a class="nav-link" href="/index.html" style="font-size: 18px;font-family: 'Source Sans Pro', sans-serif;border-radius: 10px;border-width: 0.4px;border-style: none;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/research.html" style="font-size: 18px;font-family: 'Source Sans Pro', sans-serif;">Research</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/blog.html" style="font-size: 18px;font-family: 'Source Sans Pro', sans-serif;">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="/links.html" style="font-size: 18px;font-family: 'Source Sans Pro', sans-serif;">Links</a></li>
                    <li class="nav-item"><a class="nav-link" href="/docs/vijay_cv.pdf" style="font-size: 18px;font-family: 'Source Sans Pro', sans-serif;">CV</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="col" style="margin: auto;padding: auto;padding-top: 5px;padding-right: 20px;padding-bottom: 5px;padding-left: 25px;height: auto;">

        <div style="text-align: center;padding-top:10px;padding-bottom: 20px;">
            <h2>{{ page.title }}
            </h2>	
            </div>
            <div style="text-align: left;">{{ content }}</div>
            <div> <hr style="width:80%"></hr> </div>
                
            <p style="color: grey;">Posted on {{ page.date | date_to_long_string:"ordinal" }} by <a href="{{ page.author_link}}"> {{ page.author }}</a> </p>            


    </section>
    <div class="footer-basic" style="padding: 20px 0px;">
        <footer>
            <div class="social" style="padding: 5px;margin: auto;padding-bottom: 5px;"><a href=" https://www.linkedin.com/in/vijay-mocherla" target="_blank"><i class="icon ion-social-linkedin"></i></a><a href="https://github.com/vijaymocherla" target="_blank"><i class="icon ion-social-github"></i></a><a href="https://twitter.com/vijay_mocherla" target="_blank"><i class="icon ion-social-twitter"></i></a></div>
            <p class="copyright">Sai Vijay Bhaskar Mocherla © 2020</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
